<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//myatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="model.MemberDTO" alias="Member" />
		<typeAlias type="model.TransferDTO" alias="Transfer" />
		<typeAlias type="model.AccountDTO" alias="Account" />
		<typeAlias type="model.OpenBankingDTO" alias="OpenBanking" />
		<typeAlias type="model.InstantDTO" alias="Instant" />
		<typeAlias type="model.ReservationDTO" alias="Reservation" />
		<typeAlias type="model.FinanceDTO" alias="Finance" />
		<typeAlias type="model.ProductsDTO" alias="Products" />
		<typeAlias type="model.StockDTO" alias="Stock" />
		<typeAlias type="model.MainAccountDTO" alias="MainAccount" />


	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="SpringProject" />
				<property name="password" value="1111" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mybatis/Account.xml" />
		<mapper resource="mybatis/MemberMapper.xml" />
		<mapper resource="mybatis/Transfer.xml" />
		<mapper resource="mybatis/OpenBankingMapper.xml" />
		<mapper resource="mybatis/Finance.xml" />
		<mapper resource="mybatis/Products.xml" />
		<mapper resource="mybatis/ReservationMapper.xml" />
		<mapper resource="mybatis/StockMapper.xml" />
	</mappers>
</configuration>