<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="OpenBankingMapper">
	<cache />

	<!-- 오픈뱅킹 계좌 등록 -->
	<insert id="InsertOpenBanking" parameterType="OPENBANKING">
		INSERT INTO OPENBANKING (
			OPEN_ACCOUNT_NO,
			MEMBER_ID, 
			OPEN_BANK, 
			OPEN_ACCOUNT_PW, 
			OPEN_BALANCE, 
			OPEN_CARD_NAME,
			REGDATE )
		VALUES ( #{OPEN_ACCOUNT_NO}, #{MEMBER_ID}, #{OPEN_BANK}, #{OPEN_ACCOUNT_PW}, #{OPEN_BALANCE}, #{OPEN_CARD_NAME}, sysdate )
		<!--WHERE-->
	</insert>

	<!-- 오픈뱅킹 계좌 삭제 -->
	<delete id="DeleteOpenBanking" parameterType="OPENBANKING">
  		DELETE FROM OPENBANKING
  		WHERE 
			 MEMBER_ID = #{MEMBER_ID} AND OPEN_ACCOUNT_NO = #{OPEN_ACCOUNT_NO} AND OPEN_ACCOUNT_PW = #{OPEN_ACCOUNT_PW}
  	</delete>

	<!-- 오픈뱅킹 계좌 조회 -->
	<!--OPEN_ACCOUNT_PW=null 문제-->
	<select id="SelectOpenBanking" parameterType="OPENBANKING" resultType="OPENBANKING">
		SELECT
			OPEN_ACCOUNT_NO,
			MEMBER_ID,
			OPEN_BANK,
			OPEN_BALANCE,
			OPEN_CARD_NAME,
			REGDATE
		FROM 
			OPENBANKING
		WHERE 
			MEMBER_ID = #{MEMBER_ID}
	</select>

	<!-- 계좌비밀번호 확인 -->
	<!--임시-->
	<select id="CheckPwOpenBanking" parameterType="OPENBANKING" resultType="int">
		SELECT 
			COUNT(*) 
		FROM 
			OPENBANKING
		WHERE 
			OPEN_ACCOUNT_NO = #{OPEN_ACCOUNT_NO} AND OPEN_ACCOUNT_PW = #{OPEN_ACCOUNT_PW}
	</select>


</mapper>