<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReservationMapper">
	<cache />

	<!-- 예약 모으기 등록 -->
	<insert id="ReservationReg" parameterType="HashMap">
		INSERT INTO RESERVATION (
		 	member_id,
			MY_ACCOUNT_NUM,
			COLLECTING_MONEY,
			OPEN_ACCOUNT_PW,
			COLLECTING_DAY,
			START_DATE )
		VALUES ( #{member_id}, #{MY_ACCOUNT_NUM}, #{COLLECTING_MONEY}, #{OPEN_ACCOUNT_PW}, #{COLLECTING_DAY}, sysdate )
	</insert>

	<!-- 예약 모으기 삭제 -->
	<delete id="ReservationDelete" parameterType="RESERVATION">
		DELETE FROM 
			RESERVATION
		WHERE 
			member_id = #{member_id} AND OPEN_ACCOUNT_PW = #{OPEN_ACCOUNT_PW}
	</delete>

	<!-- 예약 모으기 변경 -->
	<!--	<update id="ReservationModify" parameterType="RESERVATION">
		UPDATE 
			RESERVATION
		SET
			MY_ACCOUNT_NUM = #{MY_ACCOUNT_NUM},
			COLLECTING_MONEY = #{COLLECTING_MONEY},
			COLLECTING_DAY = #{COLLECTING_DAY},
			START_DATE = sysdate )
		WHERE 
			member_id = #{member_id} AND OPEN_ACCOUNT_PW = #{OPEN_ACCOUNT_PW}
	</update>-->

	<!-- 예약 모으기 조회 -->
	<select id="SelectReservation" parameterType="String" resultType="RESERVATION">
		SELECT
			member_id,
			MY_ACCOUNT_NUM,
			COLLECTING_MONEY,
			START_DATE,
			COLLECTING_DAY,
			LAST_RUN_DATE,
			CLOSE_DATE
		FROM 
			RESERVATION
		WHERE 
			member_id = #{member_id}
		ORDER BY
			START_DATE	
	</select>


	<!-- =============================================================================== -->
	<!-- 자동이체 실행로직 -->
	<!-- =============================================================================== -->

	<!--1. 예약 정보 조회 -->
	<select id="selectByDate" resultType="RESERVATION">
		SELECT 
			member_id,
			MY_ACCOUNT_NUM
		FROM 
			RESERVATION
		WHERE 
			COLLECTING_DAY = '11'
		<!-- setDate 자동이체 설정일 -->
	</select>

	<!--3-1. 예약 모으기(출금계좌) -->
	<update id="ReservationWithdraw" parameterType="RESERVATION">
		UPDATE 
			OPENBANKING 
		SET 
			OPEN_BALANCE = OPEN_BALANCE - OPEN_BALANCE
		WHERE 
			member_id = #{member_id}
		<!--임시 조건-->
	</update>

	<!--3-2. 예약 모으기(입금계좌) -->
	<update id="ReservationDeposit" parameterType="RESERVATION">
		UPDATE 
			ACCOUNT 
		SET
			BALANCE = BALANCE + (SELECT SUM(OPEN_BALANCE) FROM OPENBANKING WHERE member_id = #{member_id})
		WHERE 
			member_id = #{member_id}
		<!--임시 조건-->
	</update>

	<!-- 4. 예약 모으기 마지막 날짜 -->
	<update id="LastRunDate" parameterType="RESERVATION">
		UPDATE 
			RESERVATION
		SET
			LAST_RUN_DATE = sysdate
		WHERE 
			member_id = #{member_id}
	</update>

	<!-- 거래내역 로그(잔액모으기 내역) -->
	<insert id="ReservationWithdrawLog" parameterType="RESERVATION">
		INSERT INTO RESERVATION (
		 	member_id,
			MY_ACCOUNT_NUM,
			COLLECTING_MONEY,
			COLLECTING_DAY,
			SUMMARY,
			MEMO )
		VALUES ( #{member_id}, #{MY_ACCOUNT_NUM}, (SELECT SUM(OPEN_BALANCE) FROM OPENBANKING WHERE member_id = #{member_id}),
				 #{COLLECTING_DAY}, '예약모으기', #{MEMO} )		
	</insert>

</mapper>