<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReservationMapper">
	<cache />

	<!-- 예약 모으기 등록 -->
	<insert id="ReservationReg" parameterType="HashMap">
		INSERT INTO Reservation (
		 	member_id,
			my_account_num,
			collecting_money,
			open_account_pw,
			collecting_day,
			start_date )
		VALUES ( #{member_id}, #{my_account_num}, #{collecting_money}, #{open_account_pw}, #{collecting_day}, sysdate )
	</insert>

	<!-- 예약 모으기 삭제 -->
	<delete id="ReservationDelete" parameterType="Reservation">
		DELETE FROM 
			Reservation
		WHERE 
			member_id = #{member_id} AND open_account_pw = #{open_account_pw}
	</delete>

	<!-- 예약 모으기 조회 -->
	<select id="SelectReservation" parameterType="String" resultType="Reservation">
		SELECT
			member_id,
			my_account_num,
			collecting_money,
			start_date,
			collecting_day,
			last_run_date,
			close_date
		FROM 
			Reservation
		WHERE 
			member_id = #{member_id}
		ORDER BY
			start_date DESC
	</select>


	<!-- =============================================================================== -->
	<!-- 자동이체 실행로직 -->
	<!-- =============================================================================== -->

	<!--1. 예약 정보 조회 -->
	<select id="selectByDate" resultType="Reservation">
		SELECT 
			member_id,
			my_account_num
		FROM 
			Reservation
		WHERE 
			collecting_day = '11'
		<!-- setDate 자동이체 설정일 -->
	</select>

	<!--3-1. 예약 모으기(출금계좌) -->
	<update id="ReservationWithdraw" parameterType="Reservation">
		UPDATE 
			OPENBANKING 
		SET 
			open_balance = open_balance - open_balance
		WHERE 
			member_id = #{member_id}
		<!--임시 조건-->
	</update>

	<!--3-2. 예약 모으기(입금계좌) -->
	<update id="ReservationDeposit" parameterType="Reservation">
		UPDATE 
			ACCOUNT 
		SET
			BALANCE = BALANCE + (SELECT SUM(open_balance) FROM OPENBANKING WHERE member_id = #{member_id})
		WHERE 
			member_id = #{member_id}
		<!--임시 조건-->
	</update>

	<!-- 4. 예약 모으기 마지막 날짜 -->
	<update id="LastRunDate" parameterType="Reservation">
		UPDATE 
			Reservation
		SET
			last_run_date = sysdate
		WHERE 
			member_id = #{member_id}
	</update>

	<!-- 거래내역 로그(잔액모으기 내역) -->
	<insert id="ReservationWithdrawLog" parameterType="Reservation">
		INSERT INTO Reservation (
		 	member_id,
			my_account_num,
			collecting_money,
			collecting_day,
			summary,
			memo )
		VALUES ( #{member_id}, #{my_account_num}, (SELECT SUM(open_balance) FROM OPENBANKING WHERE member_id = #{member_id}),
				 #{collecting_day}, '예약모으기', #{memo} )		
	</insert>

</mapper>