<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="StockMapper">

	<select id="searchstock" resultType="String" parameterType="String">
		SELECT 
			excode
	 	FROM
			Stock
		WHERE
	 		exname=#{exname}
	</select>

	<!-- 주식 조회 및 검색1-->
	<select id="SelectStock1" resultType="Stock">
		SELECT 
			excode,
		 	exname
	 	FROM
			Stock
	</select>

	<!-- 주식 조회 및 검색2-->
	<select id="SelectStock2" parameterType="Stock" resultType="Stock">
		SELECT 
			excode,
		 	exname
	 	FROM
			Stock
		WHERE
			upper(exname) like '%' || upper(#{exname}) || '%'  
		<!--exname=#{exname}-->
	</select>


</mapper>