<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="InstantMapper">
	<cache />

	<!-- 계좌 조회 -->
	<select id="CheckOpenBanking" parameterType="INSTANT" resultType="Integer">
		SELECT 
			count(*)
		FROM
			OPENBANKING
		WHERE
			MEMBER_ID = #{MEMBER_ID}
		<!--임시 조건-->
	</select>

	<!-- 잔액모으기(출금계좌) -->
	<update id="Withdraw" parameterType="INSTANT">
		UPDATE 
			OPENBANKING 
		SET 
			OPEN_BALANCE = OPEN_BALANCE - OPEN_BALANCE
		WHERE 
			MEMBER_ID = #{MEMBER_ID}
		<!--임시 조건-->
	</update>

	<!-- 잔액모으기(입금계좌) -->
	<update id="Deposit" parameterType="INSTANT">
		UPDATE 
			ACCOUNT 
		SET
			BALANCE = BALANCE + (SELECT SUM(OPEN_BALANCE) FROM OPENBANKING WHERE MEMBER_ID = #{MEMBER_ID})
		WHERE 
			MEMBER_ID = #{MEMBER_ID}
		<!--임시 조건-->
	</update>

	<!-- 모으기(출금계좌) -->
	<!--삭제?-->
	<update id="Withdraw@" parameterType="INSTANT">
		UPDATE 
			OPENBANKING 
		SET 
			OPEN_BALANCE = OPEN_BALANCE - #{COLLECTING_MONEY}
		WHERE 
			MEMBER_ID = #{MEMBER_ID}
		<!--임시 조건-->
	</update>

	<!-- 모으기(입금계좌) -->
	<!--삭제?-->
	<update id="Deposit@" parameterType="INSTANT">
		UPDATE 
			ACCOUNT 
		SET
			BALANCE = BALANCE + #{COLLECTING_MONEY} * (SELECT count(*) FROM OPENBANKING)
		WHERE 
			MEMBER_ID = #{MEMBER_ID}
		<!--임시 조건-->
	</update>

	<!-- 거래내역 로그(잔액모기 내역) -->
	<insert id="WithdrawLog" parameterType="INSTANT">
		INSERT INTO INSTANT (
		 	MEMBER_ID,
			MY_ACCOUNT_NUM,
			COLLECTING_MONEY,
			COLLECTING_DAY,
			SUMMARY,
			MEMO )
		VALUES ( #{MEMBER_ID}, #{MY_ACCOUNT_NUM}, (SELECT SUM(OPEN_BALANCE) FROM OPENBANKING WHERE MEMBER_ID = #{MEMBER_ID}),
				 #{COLLECTING_DAY}, '즉시모으기', #{MEMO} )		
	</insert>

	<!-- 거래내역 로그(출금 거래내역) -->
	<!--삭제?-->
	<insert id="WithdrawLog@" parameterType="INSTANT">
		INSERT INTO INSTANT (
		 	MEMBER_ID,
			MY_ACCOUNT_NUM,
			COLLECTING_MONEY,
			COLLECTING_DAY,
			SUMMARY,
			MEMO )
		VALUES ( #{MEMBER_ID}, #{MY_ACCOUNT_NUM}, (SELECT SUM(OPEN_BALANCE) FROM OPENBANKING WHERE MEMBER_ID = #{MEMBER_ID}),
				 #{COLLECTING_DAY}, #{SUMMARY}, #{MEMO} )		
	</insert>


</mapper>