@charset 'utf-8';

html {font-family: 'Noto Sans KR', sans-serif; font-size: 14px;}
p {line-height: 1.6;}
a {color: rgb(29, 29, 31); text-decoration: none;}
.search-header{color:rgba(0,0,0,1);margin-top:-7rem; position:absolute; margin-left:30rem;}
.search-header strong{color:black;font-size:5rem;}
.search-header .navbar-img {position:absolute; height: 10rem; margin-left: -2rem; margin-top:-2rem;}
.search-header .search{float:right;height:51px;width:50rem;text-align:center;}
.navbar-inverse .navbar-nav>li>a:hover{color:#000;}
/* 메인페이지 css  */
.main{background-color: white; position: relative; overflow:hidden; }
.main-body{background-color: #FFD700; position: relative; overflow:hidden; margin-top:-8px; height:56rem; width:91rem; left:23rem;}
.main-body .phoneScreen{background-color: white; width:27rem; height:44rem; border-radius:7%; float:right; margin-right:1rem; margin-top:9rem;}
.main-body .phoneScreen .memberId{position:absolute; padding-top:2rem; margin-left:2rem; font-weight:bold; font-size:25px;}
.main-body .phoneScreen .insideScreen{background-color: #FFD700; width:25rem; height:12rem; float:right; margin-top: 5rem; margin-right:1rem; border-radius:8%;}
.main-body .phoneScreen .insideScreen .my{position:absolute; padding-top:9px; padding-left:45px; font-weight:bold;}
.main-body .mainPageImg {position:absolute;left:40rem; top:5rem;}
.main-body .introduce span.introduceBank{font-family: 'Noto Sans KR', sans-serif; position:absolute; font-weight:bolder; font-size:4rem; left:7rem; top:19rem;}
.main-body .introduce span.introduceBank2{font-family: 'Noto Sans KR', sans-serif; position:absolute; font-weight:bolder; font-size:25px; left:7rem; top:30rem; font-weight:400;}
.main-body .phoneScreen .insideScreen .myAccount{position:absolute; margin-top:25px; margin-left:29px; width:9rem; height:26px; font-size:13px; text-align:center; border:white; background-color:rgba(0,0,0,0);}
.main-body .phoneScreen .insideScreen .money{position:absolute; text-align:right; margin-top:4rem; margin-left:1rem; font-size:3rem; width:19rem; background-color:#FFD700; height:4rem; font-weight:bold; border:white;}
.main-body .phoneScreen .insideScreen h1{font-weight:bold; margin-left:21rem; margin-top:66px;}
.main-body .phoneScreen .insideScreen .transfer{position:absolute; margin-top:1rem; margin-left:6rem; font-size:18px;}
.main-body .phoneScreen .insideScreen .card{position:absolute; margin-top:1rem; margin-left:15rem; font-size: 18px;}
.main-body .phoneScreen .coinMoney{background-color:#FFD700; width:25rem; height:5rem; float:right; margin-top:1rem; margin-right:1rem; border-radius:8%; }
.main-body .phoneScreen .coinMoney .coin{position:absolute; margin-top:22px; margin-left:3rem; font-size:27px; font-weight:bold}
.main-body .phoneScreen .coinMoney .coinCollect{font-size:2rem; float:right; margin-top:18px; margin-right:21px; font-weight:bold;}
.main-body .phoneScreen .bankProduct{background-color:#669999; height:9rem; width:25rem; float:right; margin-right:1rem; margin-top:1rem; border-radius:8%;}
.main-body .phoneScreen .bankProduct .productName{position:absolute; font-size:17px; padding-top:10px; padding-left:37px; color:white; font-weight:bold;}
.main-body .phoneScreen .bankProduct .productList{position:absolute; margin-top:25px; margin-left:29px; width:8rem; height:26px; font-size:13px; text-align:center; border:white; background-color:rgba(0,0,0,0);}
.main-body .phoneScreen .bankProduct .moneySave{font-size:2rem; float:right; margin-top:4rem; margin-right:3rem; font-weight:bold; color:white;}
.main-body .phoneScreen .phoneImage{position:absolute;margin-left:62rem; margin-top:5rem;}
.main-body .phoneScreen .bankProduct .subBank{position: absolute; font-size:18px; font-weight: bold; margin-left:7px; margin-top:1rem;}


.stock_page{height:30rem; width:100%; margin-left:2rem; }
.stock_page .stock_input{position:absolute; top:117%; left:62rem;}
.line{border-top:6px solid #eee;}
.stock_page .stock_input .stock_input_text{opacity:0.8; text-align: center; font-weight:bolder; font-size:2rem; height:5rem; box-shadow:1px 1px 8px 5px #5fcae2; width:15rem; }
.stock_page .stock_input .stock_input_date{position:absolute; top:6rem; right:13rem; width:14rem; color:black; border:4px solid white; background-color: white; opacity: 0.7;}
.stock_page .stock_input .stock_input_date2{position:absolute; top:6rem; right:-5rem; width:14rem; color:black; border:4px solid white; background-color: white; opacity: 0.7;}
.stock_page .stock_input .start{color:white; font-size: 2rem; position: absolute; top:3em; left:-17rem;}
.stock_page .stock_input .end{color:white; font-size: 2rem; position: absolute; top:3em; left:24rem; width:18rem;}
.stock_page .stock_input button{ background:#2e9dc7; color:#fff; border:none; position:relative; height:4rem; font-size:1.6em; left:-14px; top:6rem; width:18rem; opacity:0.8; padding:0 2em; cursor:pointer; transition:800ms ease all; outline:none; }
.stock_page .stock_input button:hover{ background:#fff; color:#1AAB8A; }
.stock_page .stock_input button:before,.stock_page .stock_input button:after{ content:''; position:absolute; top:0; right:0; height:2px; width:0; background: #1AAB8A; transition:400ms ease all; }
.stock_page .stock_input button:after{ right:inherit; top:4rem; left:0; bottom:0; }
.stock_page .stock_input button:hover:before,.stock_page .stock_input button:hover:after{ width:100%; transition:800ms ease all;}


/* 아이디 비밀번호 찾기 창css */
.inner_login .login_tistory .form a { color: #333; text-decoration: none;}
.inner_login .login_tistory .form input { -webkit-writing-mode: horizontal-tb !important; text-rendering: auto; color: initial; letter-spacing: normal; word-spacing: normal; text-transform: none; text-indent: 0px; text-shadow: none; display: inline-block; text-align: start; -webkit-appearance: textfield; 
background-color: white; -webkit-rtl-ordering: logical; cursor: text; margin: 0em; font: 400 13.3333px Arial; padding: 1px 0px; border-width: 2px; border-style: inset; border-color: initial; border-image: initial;}
.inner_login { position: absolute; left: 50%; top: 50%; margin: -145px 0 0 -160px;}
.login_tistory{ position: relative; width: 320px; margin: 0 auto;}
.inner_login .login_tistory .screen_out { position: absolute; width: 0; height: 0; overflow: hidden; line-height: 0; text-indent: -9999px;}
.inner_login body, button, input, select, td, textarea, th { font-size: 13px; line-height: 1.5; -webkit-font-smoothing: antialiased;}    
.inner_login fieldset, img { border: 0;}
.inner_login .tabs { width: 100%; margin-bottom: -36px; border-bottom: 1px solid #d9d9d9;}
.inner_login .tabs .tab { display: inline-block; margin-bottom: -1px; padding: 20px 15px 10px; cursor: pointer; letter-spacing: 0; border-bottom: 1px solid #d9d9d9; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; transition: all 0.1s ease-in-out;}
.inner_login .tabs .tab a { font-size: 11px; text-decoration: none; text-transform: uppercase; color: #d9d9d9; transition: all 0.1s ease-in-out;}
.inner_login .tabs .tab.active a, .inner_login .tabs .tab:hover a {color: #263238;}
.inner_login .login_tistory .box_login { margin: 35px 0 0;border: 1px solid #ddd; border-radius: 3px;background-color: #fff; box-sizing: border-box;}
.inner_login .login_tistory .inp_text { position: relative; width: 100%; margin: 0; padding: 18px 19px 19px; box-sizing: border-box;}
.inner_login .login_tistory .inp_text .find { position: relative; width: 100%; margin: 0; padding: 19px 0px 0px; box-sizing: border-box;}
.inner_login .login_tistory .inp_text+.inp_text { border-top: 1px solid #ddd;}
.inner_login .login_tistory .inp_text input { display: block; width: 100%; height: 100%; font-size: 13px; color: #000; border: none; outline: 0; -webkit-appearance: none; background-color: transparent;}
.inner_login .login_tistory .btn_login { margin: 20px 0 0; width: 100%; height: 48px; border-radius: 3px; font-size: 16px; color: #fff; background-color: #000;}
.inner_login .login_tistory .login_append { overflow: hidden; padding: 15px 0 0;}
.inner_login .login_tistory .inp_chk { display: inline-block; position: relative; margin-bottom: -1px;}
.inner_login .login_tistory .login_append .inp_chk { float: left;}
.inner_login .login_tistory .inp_chk .inp_radio { position: absolute; z-index: -1; top: 0; left: 0; width: 18px; height: 18px; border: 0;}
.inner_login .login_tistory .inp_chk .lab_g { display: inline-block; margin-right: 19px; color: #909090; font-size: 13px; line-height: 19px; vertical-align: top;}
.inner_login .login_tistory .inp_chk .ico_check { display: inline-block; width: 18px; height: 18px; margin: 1px 4px 0 0; background-position: -60px 0; color: #333;}
.inner_login .login_tistory .inp_chk .txt_lab { vertical-align: top;}
.inner_login .login_tistory .login_append .txt_find { float: right; color: #777;}


/* 로그인 및 회원가입 css */
.loginRegister{background-color: white}
.loginRegister .container {position: relative; overflow: hidden; width: 700px; height: 500px; margin: 80px auto 0; background-color: #ffffff; -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px; -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px; box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px;}
.loginRegister .container .half {float: left; width: 50%; height: 100%; padding: 20px 40px 0;}
.loginRegister .container .half.bg { background-image: url("../images/Naru.jpg"); background-size: 400px; background-repeat: no-repeat;}
.loginRegister .container h1 { font-size: 18px; font-weight: 700; margin-bottom: 23px; text-align: center; text-indent: 6px; letter-spacing: 7px; text-transform: uppercase; color: #263238;}
.loginRegister .container .tabs { width: 100%; margin-bottom: 10px; border-bottom: 1px solid #d9d9d9;}
.loginRegister .container .tabs .tab { display: inline-block; margin-bottom: -1px; padding: 20px 15px 10px; cursor: pointer; letter-spacing: 0; border-bottom: 1px solid #d9d9d9; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; transition: all 0.1s ease-in-out;}
.loginRegister .container .tabs .tab a { font-size: 11px; text-decoration: none; text-transform: uppercase; color: #d9d9d9; transition: all 0.1s ease-in-out;}
.loginRegister .container .tabs .tab.active a, body .container .tabs .tab:hover a {color: #263238;}
.loginRegister .container .tabs .tab.active { border-bottom: 1px solid #263238;}
.loginRegister .container .contentLogin form { position: relative; height: 287px;}
.loginRegister .container .contentLogin label:first-of-type, body .container .contentLogin input:first-of-type, body .container .contentLogin .more:first-of-type { -moz-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1); -webkit-animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1); animation: slideIn 0.4s cubic-bezier(0.37, 0.82, 0.2, 1);}
.loginRegister .container .contentLogin label:nth-of-type(2), body .container .contentLogin input:nth-of-type(2), body .container .contentLogin .more:nth-of-type(2) { -moz-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1); -webkit-animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1); animation: slideIn 0.5s cubic-bezier(0.37, 0.82, 0.2, 1);}
.loginRegister .container .contentLogin label:nth-of-type(3), body .container .contentLogin input:nth-of-type(3), body .container .contentLogin .more:nth-of-type(3) { -moz-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1); -webkit-animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1); animation: slideIn 0.6s cubic-bezier(0.37, 0.82, 0.2, 1);}
.loginRegister .container .contentLogin label:nth-of-type(4), body .container .contentLogin input:nth-of-type(4), body .container .contentLogin .more:nth-of-type(4) { -moz-animation: slideIn 0.7s cubic-bezier(0.37, 0.82, 0.2, 1); -webkit-animation: slideIn 0.7s cubic-bezier(0.37, 0.82, 0.2, 1); animation: slideIn 0.7s cubic-bezier(0.37, 0.82, 0.2, 1);}
.loginRegister .container .contentLogin label:nth-of-type(5), body .container .contentLogin input:nth-of-type(5), body .container .contentLogin .more:nth-of-type(5) { -moz-animation: slideIn 0.8s cubic-bezier(0.37, 0.82, 0.2, 1); -webkit-animation: slideIn 0.8s cubic-bezier(0.37, 0.82, 0.2, 1); animation: slideIn 0.8s cubic-bezier(0.37, 0.82, 0.2, 1);}
.loginRegister .container .contentLogin label:nth-of-type(6), body .container .contentLogin input:nth-of-type(6), body .container .contentLogin .more:nth-of-type(6) { -moz-animation: slideIn 0.9s cubic-bezier(0.37, 0.82, 0.2, 1); -webkit-animation: slideIn 0.9s cubic-bezier(0.37, 0.82, 0.2, 1); animation: slideIn 0.9s cubic-bezier(0.37, 0.82, 0.2, 1);}
.loginRegister .container .contentLogin label:nth-of-type(7), body .container .contentLogin input:nth-of-type(7), body .container .contentLogin .more:nth-of-type(7) { -moz-animation: slideIn 1.0s cubic-bezier(0.37, 0.82, 0.2, 1); -webkit-animation: slideIn 1.0s cubic-bezier(0.37, 0.82, 0.2, 1); animation: slideIn 1.0s cubic-bezier(0.37, 0.82, 0.2, 1);}
.loginRegister .container .contentLogin label:nth-of-type(8), body .container .contentLogin input:nth-of-type(8), body .container .contentLogin .more:nth-of-type(8) { -moz-animation: slideIn 1.1s cubic-bezier(0.37, 0.82, 0.2, 1); -webkit-animation: slideIn 1.1s cubic-bezier(0.37, 0.82, 0.2, 1); animation: slideIn 1.1s cubic-bezier(0.37, 0.82, 0.2, 1);}
.loginRegister .container .contentLogin label:nth-of-type(9), body .container .contentLogin input:nth-of-type(9), body .container .contentLogin .more:nth-of-type(9) { -moz-animation: slideIn 1.2s cubic-bezier(0.37, 0.82, 0.2, 1); -webkit-animation: slideIn 1.2s cubic-bezier(0.37, 0.82, 0.2, 1); animation: slideIn 1.2s cubic-bezier(0.37, 0.82, 0.2, 1);}
.loginRegister .container .contentLogin label:nth-of-type(10), body .container .contentLogin input:nth-of-type(10), body .container .contentLogin .more:nth-of-type(10) { -moz-animation: slideIn 1.3s cubic-bezier(0.37, 0.82, 0.2, 1); -webkit-animation: slideIn 1.3s cubic-bezier(0.37, 0.82, 0.2, 1); animation: slideIn 1.3s cubic-bezier(0.37, 0.82, 0.2, 1);}
.loginRegister .container .contentLogin label { font-size: 12px; color: #263238; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none;}
.loginRegister .container .contentLogin label:not([for='remember']) {display: none; }
.loginRegister .container .contentLogin input.inpt { font-size: 14px; display: block; width: 100%; height: 0px; margin-bottom: 5px; padding: 12px 0px; color: #999999; border: 1px solid #d9d9d9; background: transparent; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.loginRegister .container .contentLogin input.inptID { font-size: 14px; width: 30%; height: 0px; flaot:left; margin-bottom: 5px; padding: 12px 0px; color: #999999; border: 1px solid #d9d9d9; background: transparent; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.loginRegister .container .contentLogin span {padding-left:5px;}
.loginRegister .container .contentLogin input.inptLogin { font-size: 14px; display: block; width: 100%; height: 0px; margin-bottom: 5px; padding: 20px 0px; color: #999999; border: 1px solid #d9d9d9; background: transparent; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.loginRegister .container .contentLogin input.inpt::-webkit-input-placeholder { font-size: 14px; color: #999999; font-family: 'Lato', sans-serif;}
.loginRegister .container .contentLogin input.inpt:-moz-placeholder { font-size: 14px; color: #999999; font-family: 'Lato', sans-serif;}
.loginRegister .container .contentLogin input.inpt::-moz-placeholder { font-size: 14px; color: #999999; font-family: 'Lato', sans-serif; }
.loginRegister .container .contentLogin input.inpt:-ms-input-placeholder { font-size: 14px; color: #999999; font-family: 'Lato', sans-serif;}
.loginRegister .container .contentLogin input.inpt:focus { border-color: #999999;}
.loginRegister .container .contentLogin input.submit { font-size: 12px; line-height: 42px; display: block; width: 100%; height: 42px; cursor: pointer; vertical-align: middle; letter-spacing: 2px; text-transform: uppercase;color: #263238; border: 1px solid #263238; background: transparent; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.loginRegister .container .contentLogin input.submit:hover { background-color: #263238; color: #ffffff; -moz-transition: all 0.2s; -o-transition: all 0.2s; -webkit-transition: all 0.2s; transition: all 0.2s;}
.loginRegister .container .contentLogin input:focus { outline: none;}
.loginRegister .container .contentLogin input.birthdate { font-size: 13px; display: block; color: #999999; width: 12rem; float:left; height: 0px; margin-bottom: 5px; padding: 12px 12px; color: #999999; border: 1px solid #d9d9d9; background: transparent; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.loginRegister .container .contentLogin input.zipcode { font-size: 13px; display: block; color: #999999; width: 11rem; float:left; height: 0px; margin-bottom: 5px; padding: 12px 12px; color: #999999; border: 1px solid #d9d9d9; background: transparent; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;}
.loginRegister .container .contentLogin .findZip {width:6rem; font-size:12px; color: #999999; height:26px; float:right; }
.loginRegister .container .contentLogin .regform .gender{width:5rem; height:26px; font-size:13px; color: #999999; background-color: white; border: 1px solid rgba(o,o,o,o.3); float:right;}
.loginRegister .container .contentLogin .checkbox { margin-top: 4px; overflow: hidden; clip: rect(0 0 0 0); width: 0; height: 0; margin: 17px -1px; padding: 0; border: 0;}
.loginRegister .container .contentLogin .checkbox + label { vertical-align: middle; display: inline-block; width: 50%;}
.loginRegister .container .contentLogin .checkbox + label:before {content: "\A"; color: #999999;font-family: Verdana; font-weight: bold;font-size: 8px;line-height: 10px;text-align: center;display: inline-block;vertical-align: middle;position: relative;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;background: transparent;border: 1px solid #d9d9d9;width: 11px;height: 11px;margin: -2px 8px 0 0;}
.loginRegister .container .contentLogin .checkbox:checked + label:before {content: "✓";}
.loginRegister .container .contentLogin .submit-wrap { position: absolute; bottom: -5rem; width: 100%;}
.loginRegister .container .contentLogin .submit-wrap a { font-size: 12px;display: block; margin-top: 20px;text-align: center; text-decoration: none; color: #999999;}
.loginRegister .container .contentLogin .submit-wrap a:hover { text-decoration: underline;}
.loginRegister .container .contentLogin .signup-cont { display: none;}

@keyframes slideIn {0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; margin-left: -320px;}
100% { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; margin-left: 0px;}}
@-webkit-keyframes slideIn { 0% { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; margin-left: -320px;}
100% {filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; margin-left: 0px;}}
.credits { display: block; position: absolute; right: 0; bottom: 0; color: #999999; font-size: 14px; margin: 0 10px 10px 0;}
.credits a { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; color: inherit; font-weight: 700; text-decoration: none;}

/* 마이페이지 css */
.mainPageB{margin:0; background-color: #485861; color: #FFE6CF; }
.mainPageB .header{text-align:center; margin-top:-21px;}
.mainPageB  .thumb{width:92px; height:92px; box-shadow:0 6px 12px 0 rgba(0,0,0,0.1),0 12px 24px 0 rgba(0,0,0,0.24);border-radius:50%; margin-left:20px;}
.mainPageB  .thumb-wrapper{position: relative; display:inline-block; margin-bottom:36px;}
.mainPageB  .badge{width:28px; height:28px; font-size:12px; position:absolute; top:0; right:-8px; background-color: #ff5500; border-radius:50%; display:flex; justify-content:center; align-items:center; }
.mainPageB  .greeting{margin-bottom: 10px;}
.mainPageB  .mail{padding:8px 22px 10px 22px; background-color: rgba(0,0,0,0.05); display:inline-block; border-radius:20px; border: 1px solid rgba(0,0,0,0.08); box-sizing: border-box; margin-top:18px; box-shadow:inset 0 0 0 1px rgba(0,0,0,0.08);}
.mainPageB .text-area h2{font-size: 24px; }
.mainPageB .list{margin-top:48px;}
.mainPageB .list .item{display:flex; justify-content:center; align-items:center; border-bottom:1px solid rgba(0,0,0,0.08); font-size: 15px;}
.mainPageB .list .item .left a{color:#ffe6cf; text-decoration:none;}
.mainPageB .list .item .left .name{margin-left:48px;}
.mainPageB .list .item .left{display:flex; align-items:center;}
.mainPageB .list .item .right img{padding-right:20px; width:60px; margin-right:30px;}
.mainPageB .list .item .right{opacity:0.5;}
.mainPageB .list .item img{padding: 20px 22px;}

/* 내정보수정 css */
.content_content{background-color: #485861; color: #FFE6CF;}
.content_content .header{text-align:center; margin-top:-21px;}
.content_content .header .thumb{width:92px; height:92px; box-shadow:0 6px 12px 0 rgba(0,0,0,0.1),0 12px 24px 0 rgba(0,0,0,0.24);border-radius:50%; margin-left:20px;}
.content_content .header .thumb-wrapper{position: relative; display:inline-block; margin-bottom:36px;}
.content_content .header .badge{width:28px; height:28px; font-size:12px; position:absolute; top:0; right:-8px; background-color: #ff5500; border-radius:50%; display:flex; justify-content:center; align-items:center; }
.content_content .header .greeting{margin-bottom: 10px;}
.content_content .tbl-reg{display:flex; justify-content: center; padding-top:40px; border:solid 1px;}
.content_content .tbl-reg td,th{font-size: 16px; padding:2px; padding-left:40px;}
.content_content input[type="text"],input[type="password"], input[type="email"],input[type="date"], input[type="file"], select {background-color:rgba(0,0,0,0.2); width: 35rem; backwidth:100%; height:32px; font-size:1.4rem; line-height:2rem; padding:5px 10px;  transition: 0.5s;}
.content button{background-color: rgba(0,0,0,0.25)}
.content_content .button {width:200px; margin:0 auto;}

/* 환전/환율 페이지 css */
.exchange_backImg{ position:absolute; width:100%; margin-left:4px; background-image: url("../images/Exchange.png");}
.exchangeform{  text-align:center; height: 100%; display: inline-block; padding:4rem; margin-left:22rem;}
.exchangeform img{height:7rem;}
.exchangeform:before{content:''; height:100%; display:inline-block; vertical-align:middle;}
.exchangeform button{background:white; opacity:0.8; color:#fff; border:none; position:relative; height:8rem; font-size:1.6em;padding:0 2em; margin:4rem 6rem; width:14rem; float:center; cursor:pointer; transition:800ms ease all; outline:none; background-color: rgba(0,0,0,0);}
.exchangeform button:hover{background:white; color:rgba(0,0,0,1);}
.exchangeform button:hover span{display:none;}
.exchangeform .exchangeButton1:before{ content:'USD'; position:absolute; top:0; right:0; height:2px; width:0; background: white; padding-top:3rem; transition:400ms ease all;}
.exchangeform .exchangeButton2:before{ content:'EUR'; position:absolute; top:0; right:0; height:2px; width:0; background: white; padding-top:3rem; transition:400ms ease all;}
.exchangeform .exchangeButton3:before{ content:'JPY'; position:absolute; top:0; right:0; height:2px; width:0; background: white; padding-top:3rem; transition:400ms ease all;}
.exchangeform .exchangeButton4:before{ content:'CNH'; position:absolute; top:0; right:0; height:2px; width:0; background: white; padding-top:3rem; transition:400ms ease all;}
.exchangeform .exchangeButton5:before{ content:'HKD'; position:absolute; top:0; right:0; height:2px; width:0; background: white; padding-top:3rem; transition:400ms ease all;}
.exchangeform .exchangeButton6:before{ content:'THB'; position:absolute; top:0; right:0; height:2px; width:0; background: white; padding-top:3rem; transition:400ms ease all;}
.exchangeform .exchangeButton7:before{ content:'SGD'; position:absolute; top:0; right:0; height:2px; width:0; background: white; padding-top:3rem; transition:400ms ease all;}
.exchangeform .exchangeButton8:before{ content:'GBP'; position:absolute; top:0; right:0; height:2px; width:0; background: white; padding-top:3rem; transition:400ms ease all;}
.exchangeform .exchangeButton9:before{ content:'CAD'; position:absolute; top:0; right:0; height:2px; width:0; background: white; padding-top:3rem; transition:400ms ease all;}
.exchangeform .exchangeButton10:before{ content:'CHF'; position:absolute; top:0; right:0; height:2px; width:0; background: white; padding-top:3rem; transition:400ms ease all;}

.exchangeform button:hover:before,button:hover:after{ width:100%; transition:800ms ease all;}
.exchangeRealMoney{margin:0; background-color: #485861; color: #FFE6CF; padding-bottom:5rem;}
.exchangeRealMoney .header{text-align:center; margin-top:-11px;}
.exchangeRealMoney .header .money{position:fixed; right:1073px;}
.exchangeRealMoney .header .changePlease{background-color: black; margin-top:2rem; margin-left:2rem; width:12rem; height:3rem;}
.exchangeRealMoney  .thumb{width:92px; height:92px; box-shadow:0 6px 12px 0 rgba(0,0,0,0.1),0 12px 24px 0 rgba(0,0,0,0.24);border-radius:50%; margin-left:20px;}
.exchangeRealMoney  .thumb-wrapper{position: relative; display:inline-block; margin-bottom:36px; margin-top:2rem;}
.exchangeRealMoney  .badge{width:28px; height:28px; font-size:12px; position:absolute; top:0; right:-8px; background-color: #ff5500; border-radius:50%; display:flex; justify-content:center; align-items:center; }
.exchangeRealMoney  .greeting{margin-bottom: 10px;}
.exchangeRealMoney  .mail{padding:8px 22px 10px 22px; background-color: rgba(0,0,0,0.05); display:inline-block; border-radius:20px; border: 1px solid rgba(0,0,0,0.08); box-sizing: border-box; margin-top:18px; box-shadow:inset 0 0 0 1px rgba(0,0,0,0.08);}
.exchangeRealMoney .text-area h2{font-size: 24px; }
.showExchange{border:3px solid rgba(0,0,0,1);position:absolute; margin-top:2rem; left:6rem; background-color: white; opacity: 0.8;}

.showExchange .rate_table td {color: red; font-weight: bold; font-size: 20px; text-align: center; font-family: 맑은 고딕; border-spacing: 20px;}
.showExchange .rate_table td:nth-child(odd) { color: blue;}
.showExchange  h2{font-size:2rem; text-align: center;}
.showExchange  p {font-weight:bolder;font-size:20px;margin-top:-1rem; text-align: center; }

/* 이체 css */
.transferButt{position:absolute; left:5rem; display:inline-block;}
.transferButt button{background-color: rgba(0,0,0,1); color:white; font-weight:bolder; box-shadow: inset 6px 4px 7px 6px grey;}
.bank .container{ position: absolute; display: flex; flex-direction: row; align-items: center; margin: auto; height:25rem;top: 0; bottom: 0; left: -24rem; right: 0; width: 680px;}
.bank .container .col1{perspective: 1000; transform-style: preserve-3d;}
.bank .container .card{ position: relative; width: 420px; height: 250px; margin-bottom: 85px; margin-right: 10px; border-radius: 17px; box-shadow: 0 5px 20px -5px rgba(0,0,0,0.1); transition: all 1s; transform-style: preserve-3d;}
.bank .container .front{ position: absolute; background: gold; border-radius: 17px; padding: 50px; width: 100%; height: 100%; transform: translateZ(1px); -webkit-transform: translateZ(1px); transition: background 0.3s; z-index: 50; background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), -webkit-linear-gradient(-245deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%); -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; }
.bank .container .type{ position: absolute; width: 75px; height: 45px; top: 20px; right: 20px;}
.bank .container .type img{  width: 100%; float: right; }
.bank .container .narubank{position:absolute; font-size:21px; font-weight:bold; left:15rem; top:2rem;	}
.bank .card_number{position: absolute;font-size: 26px; font-weight: 500;letter-spacing: -1px; top: 110px;  color: rgba(0,0,0,0.3); word-spacing: 3px; transition: color 0.5s; }
.bank .date{ position: absolute; bottom: 40px; right: 55px; width: 90px; height: 35px; color: var(--text-color); transition: color 0.5s; }
.bank .date_value{ font-size: 12px; position: absolute; margin-left: 22px; margin-top: 12px; color: rgba(0,0,0,0.3);font-weight: 500; transition: color 0.5s;}
.bank .fullname{ position: absolute; font-size: 20px; bottom: 40px; color: rgba(0,0,0,0.3); transition: color 0.5s; }
.bank .back{ position: absolute; width: 100%;border-radius: 17px; height: 100%; background: gold; transform: rotateY(180deg); }
.bank .magnetic{ position: absolute; width: 100%; height: 50px; background: rgba(0,0,0,0.7); margin-top: 25px; }  
.bank .bar{ position: absolute; width: 80%; height: 37px; background: rgba(255,255,255,0.7); left: 10px; margin-top: 100px; }        
.bank .seccode{ font-size: 13px; color: rgba(0,0,0,0.3); font-weight: 500; position: absolute; top: 100px; right: 40px; }        
.bank .chip{ bottom: 12rem; left: 10px; }       
.bank .disclaimer{ position: absolute; width: 65%; left: 80px; color: #f1f1f1; font-size: 8px; bottom: 55px; }
.bank .container .col2{position:absolute; left:38rem; width:44rem; height:26rem;}
.bank .container .col2 .chooseMoney{ display:inline-block; width:5rem; position:relative; background-color: gold; opacity: 0.7; }
.bank .container .col2 input{ display: block; width: 260px; height: 30px; padding-left: 10px; padding-top: 3px; padding-bottom: 3px; margin: 7px; font-size: 17px; border-radius: 20px; background: rgba(0,0,0,0.05); border: none; transition: background 0.5s;}
.bank .container .col2 input:focus{ outline-width: 0; background: rgba(31,134,252, 0.15); transition: background 0.5s;}
.bank .container .col2 label{padding-left: 8px; font-size: 15px; color: #444;}
.bank .container .col2 .ccv{ width: 40%; }
.bank .container .col2 .buy{ width: 260px; height: 50px; position: relative; display: block; margin: 20px auto; border-radius: 10px; border: none; background: #42C2DF; color: white; font-size: 20px; transition: background 0.4s; cursor: pointer;}
.bank .container .col2 .chooseAccount{background-color: white;width:10rem; border-radius: 7%; opacity: 0.5;}
.bank .chip{ position: absolute; width: 55px; height: 40px; background: #bbb; border-radius: 7px;}
.bank .chip:after{ content: ''; display: block; width: 35px; height: 25px; border-radius: 4px; position: absolute; top: 0; bottom: 0; margin: auto; background: #ddd; }
.bank .container .col2 .page{position:absolute;width:13rem;right:60rem;bottom:-3rem;}
.bank .container .col2 .color-bg-start { background-color: salmon;}
.bank .container .col2 .bg-animate-color { animation: random-bg .5s linear infinite; }
@keyframes random-bg { from { filter: hue-rotate(0); } to { filter: hue-rotate(360deg); } }
.bank .container .col2 .fun-btn { background-color: salmon; color: white; padding: 2em 3em; border: none; transition: all .3s ease; border-radius: 5px; letter-spacing: 2px; text-transform: uppercase; outline: none; align-self: center; cursor: pointer; font-weight: bold; }
.bank .container .col2 .fun-btn:hover { animation: random-bg .5s linear infinite, grow 1300ms ease infinite;}
.bank .container .col2 .start-fun { background-color: #fff !important; color: salmon !important; }
@keyframes grow {
  0% {transform: scale(1);}
  14% { transform: scale(1.3); }
  28% { transform: scale(1); }
  42% { transform: scale(1.3); }
  70% { transform: scale(1); } 
 }

.bank .container .type{ position: absolute; width: 75px; height: 45px; top: 20px; right: 20px;}
.bank .container .type img{  width: 100%; float: right; }
.bank .container .narubank{position:absolute; font-size:21px; font-weight:bold; left:15rem; top:2rem;	}         
.bank .disclaimer{ position: absolute; width: 65%; left: 80px; color: #f1f1f1; font-size: 8px; bottom: 55px; }
.bank .container .col{position:absolute; left:24rem; width:44rem; height:26rem;}
.bank .container .col .page{position:absolute;width:13rem;right:60rem;bottom:-3rem;}
.bank .container .col .page_find{position:absolute;width:13rem;right:60rem;bottom:-3rem;}
.bank .container .col .chooseMoney{ display:inline-block; width:5rem; position:relative; background-color: gold; opacity: 0.7; }
.bank .container .col input{ display: block; width: 260px; height: 30px; padding-left: 10px; padding-top: 3px; padding-bottom: 3px; margin: 7px; font-size: 17px; border-radius: 20px; background: rgba(0,0,0,0.05); border: none; transition: background 0.5s;}
.bank .container .col input:focus{ outline-width: 0; background: rgba(31,134,252, 0.15); transition: background 0.5s;}
.bank .container .col label{padding-left: 8px; font-size: 15px; color: #444; margin-top:2rem;}
.bank .container .col .ccv{ width: 40%; }
.bank .container .col .period{ width: 6rem;height:2rem; box-shadow:inset -2px 2px 7px 6px grey; background-color: white;}
.bank .container .col .buy{ width: 260px; height: 50px; position: relative; display: block; margin: 20px auto; border-radius: 10px; border: none; background: #42C2DF; color: white; font-size: 20px; transition: background 0.4s; cursor: pointer;}
.bank .container .col .chooseAccount2{background-color: white;width:10rem; border-radius: 7%; opacity: 0.5;}
.bank .container .col .choosePeriod{width: 6rem;height:2rem; box-shadow:inset -2px 2px 7px 6px grey; background-color: white;}
.bank .container .col button{ background:#1AAB8A; color:#fff; border:none; position:absolute; height:35px; font-size:1.6em; left:33rem; margin-top:11rem; padding:0 2em; cursor:pointer; transition:800ms ease all; outline:none; }
.bank .container .col .page_find button{ background:#1AAB8A; color:#fff; border:none; position:absolute; height:35px; font-size:1.6em; left:33rem; margin-top:-11rem; padding:0 2em; cursor:pointer; transition:800ms ease all; outline:none; }
.bank .container .col button:hover{ background:#fff; color:#1AAB8A; }
.bank .container .col button:before,.bank .container .col button:after{ content:''; position:absolute; top:0; right:0; height:2px; width:0; background: #1AAB8A; transition:400ms ease all; }
.bank .container .col button:after{ right:inherit; top:inherit; left:0; bottom:0; }
.bank .container .col button:hover:before,.bank .container .col button:hover:after{ width:100%; transition:800ms ease all;}

/* 인증페이지 css */
.transfer_auth_process{position:absolute; box-shadow:13px 10px 7px 6px grey; left:32%; top:27%; width:50rem; height:32rem; border: 1px solid rgba(0,0,0,1);}
.transfer_auth_process .to_who{position:absolute; left:10rem; top:6rem;}
.transfer_auth_process .detail{position:absolute; font-size:3rem; font-weight: bold; left:20rem; color:cornflowerblue;}
.transfer_auth_process hr{position:relative; top:3rem; border:dotted;}
.transfer_auth_process h2{font-size: 26px;font-weight:bolder;}
.transfer_auth_process span{font-size: 20px;}
.transfer_auth_process a{position:absolute; left:41rem; top:1rem; font-size:2rem; font-weight:bold; color:rgba(0,0,0,0.5);}
.transfer_auth_process input{ background:#1AAB8A; color:#fff; border:none; position:relative; height:4rem; font-size:1.6em; left:11rem; top:21rem; padding:0 2em; cursor:pointer; transition:800ms ease all; outline:none; }
.transfer_auth_process input:hover{ background:#fff; color:#1AAB8A; }
.transfer_auth_process input:before,.transfer_auth_process input:after{ content:''; position:absolute; top:0; right:0; height:2px; width:0; background: #1AAB8A; transition:400ms ease all; }
.transfer_auth_process input:after{ right:inherit; top:inherit; left:0; bottom:0; }
.transfer_auth_process input:hover:before,.transfer_auth_process input:hover:after{ width:100%; transition:800ms ease all;}
.auth_service{position:absolute;left:37%; top:30%; width:41rem; height:27rem; border:1px solid rgba(0,0,0,1); box-shadow:13px 10px 7px 6px grey; }
.auth_service h2{font-size : 30px; left: 9rem; position:absolute; top:4rem; font-size:2rem;}
.auth_service input{position:absolute; text-align:center; width:14rem; left:14rem; top:10rem; height:3rem; box-shadow:7px 16px 6px #2e9dc7; }
.auth_service .email{position:absolute;text-align:center; background-color:white; font-size:1rem; width:14rem; left:14rem; top:10rem; height:3rem; box-shadow:7px 16px 6px #2e9dc7; }
.auth_service button{ background:#2e9dc7; color:#fff; border:none; position:relative; height:4rem; font-size:1.6em; left:9em; top:16rem; width:14rem; padding:0 2em; cursor:pointer; transition:800ms ease all; outline:none; }
.auth_service button:hover{ background:#fff; color:#1AAB8A; }
.auth_service button:before,.phone_message button:after{ content:''; position:absolute; top:0; right:0; height:2px; width:0; background: #1AAB8A; transition:400ms ease all; }
.auth_service button:after{ right:inherit; top:4rem; left:0; bottom:0; }
.auth_service button:hover:before,.phone_message button:hover:after{ width:100%; transition:800ms ease all;}

/* openbanking css */
.openbankFind{position:absolute; left:5rem; display:inline-block;}
.openbankFind button{background-color: rgba(0,0,0,1); color:white; font-weight:bolder; box-shadow: inset 6px 4px 7px 6px grey; width:6rem; height:2rem; border-radius: 10%;}
.open_bank{position:absolute; left:30rem; top:20rem;}
.open_bank .container h1{position:absolute; left:36rem; width:11rem; top:-5rem;}
.table .table_header{background:#6c7ae0; display:table-row;}
.table .table_header .cell{font-size: 18px; color:#fff; line-height: 1.2; font-weight: unset !important; padding-top: 19px; padding-bottom: 19px;}
.table .row{box-shadow: 16px 20px 7px 6px grey;}
.table .row .cell{ font-size:15px;color:#666666; line-height:1.2; font-weight:unset !important; padding-top:20px; padding-bottom:20px; border-bottom: 1px solid #f2f2f2;}
.table .table_header .cell:nth-child(1) {width:333px; padding-left:40px;}
.table .row .cell:nth-child(1) {width:333px; padding-left:52px;}
.table .table_header .cell:nth-child(2) {width:160px; }
.table .row .cell:nth-child(2) {width:174px; }
.table .table_header .cell:nth-child(3) {width:250px; }
.table .row .cell:nth-child(3) {width:237px; }
.table .table_header .cell:nth-child(4) {width:190px; }
.table .row .cell:nth-child(4) {width:190px; }
.table .table_header .cell:nth-child(5) {width:190px; }
.table .row .cell:nth-child(5) {width:190px; }

.table2 .table_header2{background:#6c7ae0; display:table-row;}
.table2 .table_header2 .cell2{font-size: 18px; color:#fff; line-height: 1.2; font-weight: unset !important; padding-top: 19px; padding-bottom: 19px;}
.table2 .row2{box-shadow: 16px 20px 7px 6px grey;}
.table2 .row2 .cell2{ font-size:15px;color:#666666; line-height:1.2; display:inline-block; font-weight:unset !important; padding-top:20px; padding-bottom:20px; border-bottom: 1px solid #f2f2f2;}
.table2 .table_header2 .cell2:nth-child(1) {width:333px; padding-left:40px;}
.table2 .row2 .cell:nth-child(1) {width:333px; padding-left:52px;}
.table2 .table_header2 .cell2:nth-child(2) {width:160px; }
.table2 .row2 .cell:nth-child(2) {width:160px; }
.table2 .table_header2 .cell2:nth-child(3) {width:250px; }
.table2 .row2 .cell:nth-child(3) {width:250px; }
.table2 .table_header2 .cell2:nth-child(4) {width:190px; }
.table2 .row2 .cell:nth-child(4) {width:190px; }
.table2 .table_header2 .cell2:nth-child(5) {width:190px; }
.table2 .row2 .cell2:nth-child(5) {width:190px; }
.table2 .row2 .cell2 .member_id{width:13rem; text-align: center}
.table2 .row2 .cell2 .account_number{width:10rem;  width:10rem; margin-left:8rem; text-align: center;}
.table2 .row2 .cell2 .open_password{width:12rem; margin-left:2rem; height:25px; padding:0; font-size:13px; border:1px solid rgba(0,0,0,1); background-color: white; text-align: center;}
.table2 .row2 .cell2 .choose_bank{width:7rem; margin-left:6rem; height:28px; font-size:13px; background-color: white; text-align: center;}
.table2 .row2 .cell2 .open_balance{margin-left:5rem;width:10rem;}

.table3{position:absolute; left:13rem;}
.table3 .table_header3{background:#6c7ae0; display:table-row;}
.table3 .table_header3 .cell3{font-size: 18px; color:#fff; line-height: 1.2; font-weight: unset !important; padding-top: 19px; padding-bottom: 19px;}
.table3 .row3{box-shadow: 16px 20px 7px 6px grey;}
.table3 .row3 .cell3{ font-size:15px;color:#666666; line-height:1.2; display:inline-block; font-weight:unset !important; padding-top:20px; padding-bottom:20px; border-bottom: 1px solid #f2f2f2;}
.table3 .table_header3 .cell3:nth-child(1) {width:301px; padding-left:43px;}
.table3 .row3 .cell:nth-child(1) {width:301px; padding-left:52px;}
.table3 .table_header3 .cell3:nth-child(2) {width:301px; }
.table3 .row3 .cell:nth-child(2) {width:160px; }
.table3 .table_header3 .cell3:nth-child(3) {width:250px; }
.table3 .row3 .cell:nth-child(3) {width:250px; }

.table3 .row3 .cell3 .member_id{width:13rem; text-align: center}
.table3 .row3 .cell3 .account_number{width:10rem;  width:10rem; margin-left:8rem; text-align: center;}
.table3 .row3 .cell3 .open_password{width:12rem; margin-left:10rem; height:25px; padding:0; font-size:13px; border:1px solid rgba(0,0,0,1); background-color: white; text-align: center;}
.openbankFind3{position:absolute; left:15rem; top:13rem; display:inline-block;}
.openbankFind3 button{background-color: rgba(0,0,0,1); color:white; font-weight:bolder; box-shadow: inset 6px 4px 7px 6px grey; width:6rem; height:2rem; border-radius: 10%;}


.table4{position:absolute; left:13rem;}
.table4 .table_header4{background:#6c7ae0; display:table-row;}
.table4 .table_header4 .cell4{font-size: 18px; color:#fff; line-height: 1.2; font-weight: unset !important; padding-top: 19px; padding-bottom: 19px;}
.table4 .row4{box-shadow: 16px 20px 7px 6px grey;}
.table4 .row4 .cell4{ font-size:15px;color:#666666; line-height:1.2; display:inline-block; font-weight:unset !important; padding-top:20px; padding-bottom:20px; border-bottom: 1px solid #f2f2f2;}
.table4 .table_header4 .cell4:nth-child(1) {width:301px; padding-left:43px;}
.table4 .row4 .cell:nth-child(1) {width:301px; padding-left:73px;}
.table4 .table_header4 .cell4:nth-child(2) {width:301px; }
.table4 .row4 .cell:nth-child(2) {width:160px; }
.table4 .table_header4 .cell4:nth-child(3) {width:250px; }
.table4 .row4 .cell:nth-child(3) {width:250px; }

.table4 .row4 .cell4 .member_id{width:13rem; text-align: center}
.table4 .row4 .cell4 .open_account_pw{width:8rem;  margin-left:8rem; text-align: center; background-color: #fff; font-size: 1rem; border:1px solid rgba(0,0,0,1);}
.table4 .row4 .cell4 .money{width:12rem; margin-left:10rem; height:25px; padding:0; font-size:13px; border:1px solid rgba(0,0,0,1); background-color: white; text-align: center;}
.openbankFind4{position:absolute; left:15rem; top:13rem; display:inline-block;}
.openbankFind4 button{background-color: rgba(0,0,0,1); color:white; font-weight:bolder; box-shadow: inset 6px 4px 7px 6px grey; width:6rem; height:2rem; border-radius: 10%;}



.cell,.cell2,.cell3,.cell4{display:table-cell;}
.collect_money{display:inline-block;}
.collect_money button{background-color: rgba(0,0,0,1); color:white; font-weight:bolder; box-shadow: inset 6px 4px 7px 6px grey; width:6rem; height:2rem; border-radius: 10%;}

/* openbanking 예약 css */
.bank_reservation{position:absolute; left:30rem; top:20rem;}
.bank_reservation  h1{position:absolute; left:36rem; width:11rem; top:-5rem;}
.bank_reservation .container_reservation h1{position:absolute; left:36rem; width:11rem; top:-5rem;}
.bank_reservation .delete_reservation h1{position:absolute; left:36rem; width:11rem; top:-5rem;}
.bank_reservation_table .table_header{background:#6c7ae0; display:table-row;}
.bank_reservation_table .table_header .cell{font-size: 18px; color:#fff; line-height: 1.2; font-weight: unset !important; padding-top: 19px; padding-bottom: 19px;}
.bank_reservation_table .row{box-shadow: 16px 20px 7px 6px grey;}
.bank_reservation_table .row .cell{ font-size:15px;color:#666666; line-height:1.2; font-weight:unset !important; padding-top:20px; padding-bottom:20px; border-bottom: 1px solid #f2f2f2;}
.bank_reservation_table .table_header .cell:nth-child(1) {width:284px; padding-left:40px;}
.bank_reservation_table .row .cell:nth-child(1) {width:284px; padding-left:40px;}
.bank_reservation_table .table_header .cell:nth-child(2) {width:165px; }
.bank_reservation_table .row .cell:nth-child(2) {width:165px; }
.bank_reservation_table .table_header .cell:nth-child(3) {width:229px; padding-left:4rem; }
.bank_reservation_table .row .cell:nth-child(3) {width:229px; padding-left:4rem;}
.bank_reservation_table .table_header .cell:nth-child(4) {width:190px; }
.bank_reservation_table .row .cell:nth-child(4) {width:190px; }
.bank_reservation_table .table_header .cell:nth-child(5) {width:190px; }
.bank_reservation_table .row .cell:nth-child(5) {width:190px; }
.bank_reservation_table .table_header .cell:nth-child(6) {padding-right:2rem; }
.bank_reservation_table .table_header .cell:nth-child(6) {padding-right:2rem; }
.container_reservation .table2 .row2 .cell2 .member_id{width:13rem; text-align: center}
.container_reservation .table2 .row2 .cell2 .account_number{ width:10rem; margin-left:3rem; text-align: center;}
.container_reservation .table2 .row2 .cell2 .open_password{width:12rem; margin-left:7rem; height:25px; padding:0; font-size:13px; border:1px solid rgba(0,0,0,1); background-color: white; text-align: center;}
.container_reservation .table2 .row2 .cell2 .collecting_money{width:7rem; margin-left:6rem; height:28px; font-size:13px; background-color: white; text-align: center;}
.container_reservation .table2 .row2 .cell2 .collecting_day{margin-left:5rem;width:10rem; font-size: 1rem; background-color: #fff;}
.delete_reservation{position:absolute; width:35rem; left:25rem;}
.bank_reservation .delete_reservation h1{position:absolute; left:11rem; width:11rem; top:-5rem;}

.openbankFind_info{position:absolute; left:5rem; display:inline-block;}
.openbankFind_info button{background-color: rgba(0,0,0,1); color:white; font-weight:bolder; box-shadow: inset 6px 4px 7px 6px grey; width:6rem; height:2rem; border-radius: 10%;}
.open_bank_info{position:absolute; left:30rem; top:20rem;}
.open_bank_info .container_info h1{position:absolute; left:40rem; width:11rem; top:-5rem;}
.table_info .table_header_info{background:#6c7ae0; display:table-row;}
.table_info .table_header_info .cell{font-size: 18px; color:#fff; line-height: 1.2; font-weight: unset !important; padding-top: 19px; padding-bottom: 19px;}
.table_info .row{box-shadow: 16px 20px 7px 6px grey;}
.table_info .row .cell{ font-size:15px;color:#666666; line-height:1.2; font-weight:unset !important; padding-top:20px; padding-bottom:20px; border-bottom: 1px solid #f2f2f2;}
.table_info .table_header_info .cell:nth-child(1) {width:333px; padding-left:40px;}
.table_info .row .cell:nth-child(1) {width:367px; padding-left:73px;}
.table_info .table_header_info .cell:nth-child(2) {width:160px; }
.table_info .row .cell:nth-child(2) {width:160px; }
.table_info .table_header_info .cell:nth-child(3) {width:250px; }
.table_info .row .cell:nth-child(3) {width:250px; }
.table_info .table_header_info .cell:nth-child(4) {width:190px; }
.table_info .row .cell:nth-child(4) {width:190px; }
.table_info .table_header_info .cell:nth-child(5) {width:190px; }
.table_info .row .cell:nth-child(5) {width:190px; }
.table_info .table_header_info .cell:nth-child(6) {width:190px; }
.table_info .row .cell:nth-child(6) {width:190px; }


.finance_auth{position:absolute; left:39rem;}
.finance_auth .button1{ background:#2e9dc7; color:#fff; border:none; position:relative; height:4rem; font-size:1.6em; left:9em; top:16rem; width:14rem; padding:0 2em; cursor:pointer; transition:800ms ease all; outline:none; }
.finance_auth .button1:hover{ background:#fff; color:#1AAB8A; }
.finance_auth .button1:before,.finance_auth .button1:after{ content:''; position:absolute; top:0; right:0; height:2px; width:0; background: #1AAB8A; transition:400ms ease all; }
.finance_auth .button1:after{ right:inherit; top:4rem; left:0; bottom:0; }
.finance_auth .button1:hover:before,.finance_auth .button1:hover:after{ width:100%; transition:800ms ease all;}
.finance_auth .button2{ background:#2e9dc7; color:#fff; border:none; position:relative; height:4rem; font-size:1.6em; left:9em; top:224px; width:16rem; padding:0 2em; cursor:pointer; transition:800ms ease all; outline:none; }
.finance_auth .button2:hover{ background:#fff; color:#1AAB8A; }
.finance_auth .button2:before,.finance_auth .button2:after{ content:''; position:absolute; top:0; right:0; height:2px; width:0; background: #1AAB8A; transition:400ms ease all; }
.finance_auth .button2:after{ right:inherit; top:4rem; left:0; bottom:0; }
.finance_auth .button2:hover:before,.finance_auth .button2:hover:after{ width:100%; transition:800ms ease all;}


/* account css */
.account_font{margin:0 auto; font-size:2rem; font-weight: bold; width:17rem; box-shadow: 1px 2px 20px 3px #ffbb22;}
.account_font2{position: absolute; right:8%; font-weight:700; font-size: 20px;}
.account_date{position: absolute; left:9rem; top:17rem; font-size: 20px; font-weight: bolder; color:red;}
.cta-title{display: flex; justify-content: center; font-size:2rem; border-bottom: 1px dotted black; margin-bottom: 3rem;}
.account_title{font-weight:bold; color:#ffbb22; margin-left:3rem;}
.account_list_table{border: 3px solid black; margin: 0px 10px 100px; width: 800;}
.account_list_table .account_list_table_form .account_list_table_tr .account_list_table_td{display:flex; justify-content: center; font-size: 2rem; font-weight: bold; opacity: 0.8;}

.accountList_a .table .row{box-shadow:  0 0 black; display:flex; justify-content: center;}
.accountList_a .table .row .cell{ font-size:15px;color:#666666; line-height:1.2; font-weight:unset !important; padding-top:20px; padding-bottom:20px; border-bottom: 3px solid #e2d0ca;}
.accountList_a .table .row .cell2{ font-size:15px;color:#666666; line-height:1.2; font-weight:unset !important; padding-top:20px; padding-bottom:20px; border-bottom: 3px solid #e2d0ca; display: inline-block; margin-left:2rem;}
.accountList_a .table .row .cell:nth-child(1) {width:333px; padding-left:52px;}
.accountList_a .table .row .cell:nth-child(2) {width:174px; }
.accountList_a .table .row .cell:nth-child(3) {width:237px; }
.accountList_a .table .row .cell:nth-child(4) {width:190px; }
.accountList_a .table .row .cell:nth-child(5) {width:190px; }

.noAccountMessage span{display: flex; justify-content: center; text-align: center; font-weight:bold;}
.noAccountMessage .accountLink{color:orange; font-size:16px; margin-left:1rem; margin-top:1rem; font-weight:bold;}
.accountList_a .button{ background:#2e9dc7; color:#fff; border:none; position:relative; height:3rem; font-size:1rem; left:1em; top:1rem; width:8rem; padding:0 2em; cursor:pointer; transition:800ms ease all; outline:none; }
.accountList_a .button:hover{ background:#fff; color:#1AAB8A; }
.accountList_a .button:before,.accountList_a .button:after{ content:''; position:absolute; top:0; right:0; height:2px; width:0; background: #1AAB8A; transition:400ms ease all; }
.accountList_a .button:after{ right:inherit; top:3rem; left:0; bottom:0; }
.accountList_a .button:hover:before,.accountList_a .button:hover:after{ width:100%; transition:800ms ease all;}


.changeAlias .table_header{background:#6c7ae0; display:table-row;}
.changeAlias .table_header .cell{font-size: 18px; color:#fff; line-height: 1.2; font-weight: unset !important; padding-top: 19px; padding-bottom: 19px;}
.changeAlias .row{box-shadow: 16px 20px 7px 6px grey;}
.changeAlias .row .cell{ font-size:15px;color:#666666; line-height:1.2; font-weight:unset !important; padding-top:20px; padding-bottom:20px; border-bottom: 1px solid #f2f2f2;}
.changeAlias .table_header .cell:nth-child(1) {width:333px; padding-left:40px;}
.changeAlias .row .cell:nth-child(1) {width:333px; padding-left:52px;}
.changeAlias .table_header .cell:nth-child(2) {width:160px; }
.changeAlias .row .cell:nth-child(2) {width:174px; }
.changeAlias .table_header .cell:nth-child(3) {width:250px; }
.changeAlias .row .cell:nth-child(3) {width:237px; }
.changeAlias .button{ background:#2e9dc7; color:#fff; border:none; position:relative; height:3rem; font-size:1rem; left:1em; top:1rem; width:8rem; padding:0 2em; cursor:pointer; transition:800ms ease all; outline:none; }
.changeAlias .button:hover{ background:#fff; color:#1AAB8A; }
.changeAlias .button:before,.changeAlias .button:after{ content:''; position:absolute; top:0; right:0; height:2px; width:0; background: #1AAB8A; transition:400ms ease all; }
.changeAlias .button:after{ right:inherit; top:3rem; left:0; bottom:0; }
.changeAlias .button:hover:before,.changeAlias .button:hover:after{ width:100%; transition:800ms ease all;}

.accountCopyPage .accountRec button{ background:#2e9dc7; color:#fff; border:none; position:relative; height:3rem; font-size:1rem; left:22em; top:-3rem; width:8rem; padding:0 2em; cursor:pointer; transition:800ms ease all; outline:none; }
.accountCopyPage .accountRec button:hover{ background:#fff; color:#1AAB8A; }
.accountCopyPage .accountRec button:before,.accountRec button:after{ content:''; position:absolute; top:0; right:0; height:2px; width:0; background: #1AAB8A; transition:400ms ease all; }
.accountCopyPage .accountRec button:after{ right:inherit; top:3rem; left:0; bottom:0; }
.accountCopyPage .accountRec button:hover:before,.accountRec button:hover:after{ width:100%; transition:800ms ease all;}


.accountCopyPage .infoMessage{border: 1px solid rgba(0,0,0,0.3); color:rgba(0,0,0,0.3); margin: 0px 10px 50px; width: 800;}
.accountCopyPage .bankInfo{border: 3px solid brown; margin: 0px 10px 50px; width: 800;}
.accountCopyPage .bankInfo .w3-table-all tr td{float:left;}
.accountCopyPage .bankInfo .w3-table-all tr td:nth-child(2){ position:absolute; margin-left:10rem;color:red;}
.accountCopyPage .button{width:250px; margin-left:15rem; position:absolute; }
.accountCopyPage h5{color:orange; font-size:10px; top:21rem;position:absolute; margin-left:1rem;}
.accountCopyPage h4{color:rgba(0,0,0,0.3); font-size:10px;}
.accountCopyPage hr{border-top: 1px dotted grey ;}
.changePwd .row{box-shadow: 16px 20px 7px 6px grey; position: absolute; margin-left:13rem;}
.changePwd .table .row .pass{ background-color:white; width:20rem;}
.changePwd h3{color: orange; font-size: 20px; text-align: center;}
.changepassword input{ background:#1AAB8A; columns: ;r:#fff; border:none; position:relative; height:4rem; font-size:1.6em; left:14rem; top:8rem; padding:0 2em; cursor:pointer; transition:800ms ease all; outline:none; }
.changepassword input:hover{ background:#fff; color:#1AAB8A; }
.changepassword input:before,.changepassword input:after{ content:''; position:absolute; top:0; right:0; height:2px; width:0; background: #1AAB8A; transition:400ms ease all; }
.changepassword input:after{ right:inherit; top:inherit; left:0; bottom:0; }
.changepassword input:hover:before,.changepassword input:hover:after{ width:100%; transition:800ms ease all;}



.accountdelete .table_header{background:#6c7ae0; display:table-row;}
.accountdelete .table_header .cell{font-size: 18px; color:#fff; line-height: 1.2; font-weight: unset !important; padding-top: 19px; padding-bottom: 19px;}
.accountdelete .row{box-shadow: 16px 20px 7px 6px grey;}
.accountdelete .row .cell{ font-size:15px;color:#666666; line-height:1.2; font-weight:unset !important; padding-top:20px; padding-bottom:20px; border-bottom: 1px solid #f2f2f2;}
.accountdelete .table_header .cell:nth-child(1) {width:11rem; padding-left:40px;}
.accountdelete .row .cell:nth-child(1) {width:16rem; padding-left:28px;}
.accountdelete .table_header .cell:nth-child(2) {width:160px; }
.accountdelete .row .cell:nth-child(2) {width:243px; }
.accountdelete .table_header .cell:nth-child(3) {width:250px; }
.accountdelete .row .cell:nth-child(3) {width:237px; }
.accountdelete .table_header_info .cell:nth-child(4) {width:190px; }
.accountdelete .row .cell:nth-child(4) {width:190px; }
.accountdelete .table_header_info .cell:nth-child(5) {width:190px; }
.accountdelete .row .cell:nth-child(5) {width:190px; }
.accountdelete .row .accountbalance{width:17rem; height:35px; background-color: white; margin-right:1rem;}
.accountdelete .row .accountdeletePass{width:9rem; margin-right:6rem; background-color: white; border:1px solid rgba(0,0,0,1);}


.accountdelete .accountRec button{ background:#2e9dc7; color:#fff; border:none; position:relative; height:3rem; font-size:1rem; left:22em; top:1rem;; width:8rem; padding:0 2em; cursor:pointer; transition:800ms ease all; outline:none; }
.accountdelete .accountRec button:hover{ background:#fff; color:#1AAB8A; }
.accountdelete .accountRec button:before,.accountRec button:after{ content:''; position:absolute; top:0; right:0; height:2px; width:0; background: #1AAB8A; transition:400ms ease all; }
.accountdelete .accountRec button:after{ right:inherit; top:3rem; left:0; bottom:0; }
.accountdelete .accountRec button:hover:before,.accountRec button:hover:after{ width:100%; transition:800ms ease all;}



