<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
	<display-name>SpringProject</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>/JSP/view/*</url-pattern>
			<url-pattern>/JSP/transfer/*</url-pattern>
			<url-pattern>/JSP/openbanking/*</url-pattern>
			<url-pattern>/JSP/exchange/*</url-pattern>
			<url-pattern>/JSP/finance/*</url-pattern>
			<url-pattern>/JSP/account/*</url-pattern>
			<include-prelude>/JSP/common/header.jsp</include-prelude>			
		</jsp-property-group>
	</jsp-config>
	
	

	 <servlet>
      <servlet-name>springDynamic</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>springDynamic</servlet-name>
      <url-pattern>/</url-pattern>
   </servlet-mapping>

   <filter>
      <filter-name>encodingFilter</filter-name>
      <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
      <init-param>
         <param-name>encoding</param-name>
         <param-value>UTF-8</param-value>
      </init-param>
   </filter>
   <filter-mapping>
      <filter-name>encodingFilter</filter-name>
      <url-pattern>/</url-pattern>
   </filter-mapping>
	
	
	


</web-app>
